@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

body {
    background-color: #05AFF2;
    font-family: 'Rubik', sans-serif;
}

/* Layout of the page */
#grid-layout {
    display: grid;
    grid-template-rows: auto max-content auto auto;
    grid-row-gap: 0px;
    grid-template-columns: 90%;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* Header */

header {
    grid-template-rows: 1/2;
    margin-bottom: 30px;
}

#header-title {
    text-align: center;
    font-size : 40px;
    color: white;
    letter-spacing: 5px;
    font-family: 'Rubik', sans-serif;
}

#creator-name {
    font-size : 15px;
    letter-spacing: initial;
    margin-left: -100px;
    vertical-align: -20px;
    margin-bottom: 0px;
    color : #F23064;
    text-shadow: 1px 1px 0px white;
}

/* Hangman word */

#hangman-word {
    grid-template-rows: 2/3;
}

#word {
    width : auto;
    font-size: 30px;
    padding: 5px 10px 5px 10px;
    background-color: white;
    border-radius: 5px;
}

/* Lives left */

#lives-left {
    text-align: center;
    margin-top: 20px;
    color : white;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    font-size: 20px;
    grid-template-rows: 3/4;
}

/* ALPHABET */

/*Letter's buttons display*/

#alphabet-buttons {
    grid-template-rows: 4/5;
    display : grid;
    grid-template-columns: repeat(auto-fill, 25px);
    grid-column-gap : 20px;
    text-align: center;
    justify-content: center;
}

button {
    border-radius: 12px;
    border: none;
    font-size : 15px;
    background-color: #F23064;
    color : #ffffff;
    width: 35px;
    text-align: center;
    padding: 3px;
}

button:active {
    transform : scale(0.9);
}

#retry {
    width : max-content;
    grid-template-rows: 4/5;
    padding: 10px;
    font-size : 25px;
}

/*Media Queries */

@media only screen and (min-width:400px) and (max-width: 900px) {
    #header-title {
        transform : scale(1.5);
        margin-top: 10%;
        margin-bottom: 5%;
    }

    #word {
        font-size: 40px;
    }

    #lives-left {
        margin-top: 25px;
        font-size: 25px;
    }

    #alphabet-buttons {
        grid-template-columns: repeat(auto-fill, 40px);
        grid-column-gap : 30px;
    }

    button {
        font-size : 20px;
        width: 50px;
    }
}

@media only screen and (min-width:900px) {
    #header-title {
        transform : scale(2);
        margin-top: 10%;
        margin-bottom: 5%;
    }

    #word {
        font-size: 50px;
    }

    #lives-left {
        margin-top: 30px;
        font-size: 30px;
    }

    #alphabet-buttons {
        grid-template-columns: repeat(auto-fill, 50px);
        grid-column-gap : 30px;
    }

    button {
        font-size : 25px;
        width: 60px;
    }
}